.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(45, 45, 45, 0.3);
    backdrop-filter: blur(5px);
  }
  
  .container {
    width: 800px;
    height: fit-content;
    opacity: 1;
    background-color: black;
    color: white;
  }
  
  .text {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    opacity: 0.9;
    text-align: left;
  }
  .link {
    font-weight: 500;
    opacity: 1;
    filter: brightness(1.05);
  }